body {
  margin-left: 90px;
  margin-right: 90px;
}

.ui.top.fixed.topmenu.menu {
  border: none;
  box-shadow: none;
}

.triplogimg.item {
  width: 188px;
}

.ui.topmenu.button {
  background-color: white;
}

.ui.topmenu.signin.button {
  background-color: black;
  color: white;
}

.ui.aftertop.container {
  padding-top: 60px;
}

.ui.aftertop.container .ui.large.black.basic.button {
  margin-top: 10px;
}

.ui.centerque.container {
  padding-top: 30px;
}

.imgtestcenterleft {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 35px;
}

.ui.two.column.botpart.grid.container {
  padding-top: 50px;
}

.textinleftcol {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 200%
}

.endhere {
  padding: 50px;
  width: 1136px;
}

.ui.five.column.botpart.grid.container {
  background-color: #faf1ed;
  margin-top: 30px;
}

.ui.lastone.container {
  background-color: #faf1ed;
  padding-top: 30px;
  width: calc(1127px + 2rem);
}

.ui.borderless.botpart.menu {
  border: none;
  box-shadow: none;
}

.ui.five.column.botpart.grid .column .ui.list a {
  color: black;
}
